.navbar {
  /* position: fixed;
  top: 0%;
  right: 0;
  left: 0;
  height: 40px;
  padding: 10px 30px;

  display: flex;
  align-items: center;
  justify-content: center; */
  /* transform: translateY(-50%); */

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Keeps it on top of images/content */
  /* background: none; */
}

.navbar > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: rgba(101, 101, 101, 0.188); */
  /* border-radius: 100px; */

  list-style: none;
  margin: 0;
  height: 35px;
  padding: 0 30px 18px;
  width: 30%;
  min-width: 220px;
}

.navbar > ul::before {
  content: '';
  /* filter: blur(60px); */
  opacity: 0.95;
  background-color: black;
  height: 90%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.navbar a {
  list-style: none;

  color: #ffffff;
  /* mix-blend-mode: difference; */
  margin: 0 8px;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  position: relative;
  display: flex;
  font-weight: 700;
  font-size: 17px;
  gap: 0.5rem;
  align-items: center;
  letter-spacing: 1.2px;
}

.navbar a::after {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  bottom: -2px;
  background: #ffffff;
  height: 2px;
  transition: 0.3s ease-out;
}

.navbar a:hover::after {
  width: 100%;
}

.navbar a.active::after {
  width: 100%;
  background: #d2d2d2;
}
.navbar a.active {
  color: #d2d2d2;
}
